html,
body {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

a {
  text-decoration: none;
}

canvas {
  z-index: 1;
  border: 1px solid white;
}

.tetris-container {
  position: relative;
}

.start {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url('./svg/305734.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
  cursor: pointer;
}

.update {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  left: 50%;
  top: 50%;
  transform: translate(-50%, 40px);
  padding: 10px 10px 7px 10px;
  border-radius: 10px;

  img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.score {
  position: absolute;
  top: -30px;
  left: 0;
  color: white;
}

.name {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 10px;

  div {
    color: white;
    margin-bottom: 10px;
  }

  input[type='text'] {
    margin-bottom: 10px;
    font-family: monospace;
  }
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__copyright {
  color: white;
}

.footer__link {
  position: relative;
  display: inline-block;
  margin-right: 100px;
  margin-left: 15px;
  color: white;
}

.footer__img {
  height: 45px;
}

.footer__img img {
  height: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
